---
layout: default
---
<link rel="stylesheet" href="/assets/css/summary.css">

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<details>
  <summary><h2 class="post-list-heading">{{ page.list_title | default: "KringleCon 2021" }}</h2></summary>
  {%- if site.posts.size > 0 -%}
  <details>
     <summary><b> {{ page.list_title | default: "Objective Challenges" }}</b></summary>
    <ul class="post-list-override">
      {% assign sorted-posts = site.posts | where: "categories","main" %}
      {% assign date_sorted = sorted-posts | sort: 'date' %}
      {%- for post in date_sorted -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
           {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
</details>
<details>
  <summary><b>{{ page.list_title | default: "Terminal Challenges" }}</b></summary>
    <ul class="post-list-override">
      {% assign sorted-posts = site.posts | where: "categories","terminal" %}
      {%- for post in sorted-posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

</details>
  {%- endif -%}
</details>

</div>
